[submodule "prog/Bundler"]
	path = prog/Bundler
	url = https://github.com/snavely/bundler_sfm
[submodule "prog/Feature_Detection/opensift"]
	path = prog/Feature_Detection/opensift
	url = git@github.com:robwhess/opensift.git
