[submodule "deps/Feature_Detection/opensift"]
	path = deps/Feature_Detection/opensift
	url = git@github.com:robwhess/opensift.git
[submodule "deps/bundler"]
	path = deps/bundler
	url = git@github.com:snavely/bundler_sfm.git
